body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(92, 77, 105);
  background: linear-gradient(60deg, #3023ae 0%, #772883 100%);
}

button {
  cursor: pointer;
}

ul {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background: #fff;
  list-style: none;
  border-radius: 10px;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

li {
  padding: 15px;
  margin: 10px;
  font-size: 1em;
  font-style: italic;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li > button {
  border: none;
  background-color: #fff;
  font-size: 1em;
  float: right;
  opacity: 0.6;
  transition: opacity 1s;
}

li > button:hover {
  opacity: 1;
  transition: opacity 1s;
}

.title {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 5em;
  text-shadow: 3px 5px #000;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #000;
  border: none;
  padding: 10px 20px; /* Ajustado o padding para ser mais compacto */
  color: #fff;
  border-radius: 20px; /* Ajustado o border-radius para ser mais arredondado */
  font-size: 1em;
  cursor: pointer; /* Adicionado cursor pointer para indicar que é clicável */
}

#modal {
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

input[type="text"] {
  padding: 10px; /* Espaçamento interno */
  font-size: 1em; /* Tamanho da fonte */
  border: 2px solid #000; /* Borda sólida preta */
  border-radius: 5px; /* Arredondamento da borda */
  transition: border-color 0.3s ease-in-out; /* Transição suave na cor da borda */
  }

